.cards-container {
  background: #252833;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin: 50px;
  padding: 80px;
}

.cards {
  width: calc(100% - 2em);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1em;
  grid-template-areas: "a a b c" "a a d d";
  width: 100%;
}

.card {
  width: 100%;
  position: relative;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  cursor: pointer;
  font-weight: 300;
}

.card:last-child {
  margin-bottom: 0;
}

.card:before {
  height: 0;
  content: "";
  display: block;
  padding-bottom: 47.36%;
}

.card.content:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  content: "";
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0)),
    to(black)
  );
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
}

.card:nth-child(1) {
  grid-area: a;
}

.card:nth-child(2) {
  grid-area: b;
}

.card:nth-child(3) {
  grid-area: c;
}

.card:nth-child(4) {
  grid-area: d;
}

.card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.card-label {
  position: absolute;
  top: 0.45rem;
  left: 0.45rem;
  background: #089f8a;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.7em;
  color: white;
  padding: 0.5em;
}

.card-title {
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 15px;
  color: #d6dbeb;
  z-index: 5;
  font-size: 15px;
}

.card.form {
  position: relative;
}

.card.form:before {
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
}

.card.form:after {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  width: calc(100% - 1em);
  height: calc(100% - 1em);
  content: "";
  background: #252833;
}

.card.form .form-title {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 4.2vw;
  font-weight: 900;
  z-index: 5;
  text-transform: uppercase;
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.card.form .form-title:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  content: "Have an account?";
  opacity: 0.5;
  -webkit-filter: blur(10px);
  filter: blur(10px);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  z-index: 2;
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.card:nth-child(2) .card-label {
  background: #ef4e7b;
}

.card:nth-child(3) .card-label {
  background: #1098ad;
}

.card:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
}

.card:hover .form-title:before {
  -webkit-filter: blur(3px);
  filter: blur(3px);
  opacity: 0.7;
}

@media screen and (max-width: 880px) {
  .cards-container {
    background: #252833;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 100px;
    padding: 20px;
  }

  .cards {
    width: calc(100% - 2em);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;
    grid-template-areas: "a a b b" "c c d d";
    width: 100%;
  }

  .card.form .form-title {
    font-size: 4vw;
  }

  .card-title {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 15px;
    color: #d6dbeb;
    z-index: 5;
    font-size: 15px;
  }
}

@media screen and (max-width: 665px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1em;
    grid-template-areas:
      "a a b b"
      "c c d d";
    width: 100%;
  }

  .card.form .form-title {
    font-size: 5vw;
  }

  .card-title {
    left: 15px;
    right: 15px;
    bottom: 15px;
    font-size: 12px;
  }
}

@media screen and (max-width: 450px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1em;
    grid-template-areas:
      "a a"
      "b b"
      "c c"
      "d d";
    width: 100%;
  }

  .card.form .form-title {
    font-size: 8vw;
  }

  .card-title {
    left: 15px;
    right: 15px;
    bottom: 15px;
    font-size: 16px;
  }
}
